.home .x-container {
  margin-top: 0 !important;
}

.site {
  .x-container.max.width.offset {
    max-width: none;
    width: 100%;
  }
}

.has-cookie-bar #catapult-cookie-bar {
  font-size: 12px;
  background: rgba(0, 0, 0, 0.8);
}
