/* logo slider custom styles */
.owl-stage {
  display:flex;
}

.owl-item {
  padding: 10px;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-right: 0;
}

.owl-item img{
  max-height: 100px !important;
  width: auto !important;
}

@media only screen and (min-width: 1024px) {
  .owl-item img {
    filter: grayscale(100%);
  }

  .owl-item:hover img {
    filter: grayscale(0);
  }

  .smls-overlay-effect .smls-overlay-wrap {
    background-color: transparent;
  }

  .smls-overlay-title {
    color:black;
  }
}

.smls-overlay-effect .smls-link-style span {
  background-color: rgba(0,84,75,0.6);
}

.smls-overlay-effect .smls-link-style:hover span {
  background-color: rgba(0,84,75,1);
}
