/* _review-slider.scss */

.rev_slider {
  .seminar_review {
    text-align: left !important;
  }

  p.review-small {
    font-size: 16px;
    padding-top: 10px !important;
    font-style: normal;
  }
}
