// Buttons Color

a.x-btn,
input[type="submit"] {
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-shadow: none;
  background-color: $color-primary;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  border: none;
  user-select: none;
  border-radius: 2px;
  transition: box-shadow 0.3s ease-out;
  box-shadow: none;
  overflow: hidden;
  z-index: 1;

  &:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.225);
    background-color: $color-primary;
  }

  &.center {
    margin: 0 auto;
    left: 0;
    right: 0;

    &.more-button,
    &.contact-button {
      font-weight: bold;
      position: absolute;
      bottom: 30px;
    }

    &.more-button {
      width: 145px;
    }

    &.contact-button {
      width: 200px;
    }
  }
}

.x-scroll-top:hover {
  cursor: pointer;
}
