/**
  navigation styling
**/

// default top navigation styles (not scrolled)
.masthead {
  z-index: 99;
  width: 100%;
  position: relative;
}

.page-child .masthead {
  box-shadow: 0 1px 1px rgba(204, 204, 204, 0.1);
  transition: box-shadow $timing-top-navigation;
}

// logo
.x-brand {
  @include breakpoint-between(md, lg) {
    margin-top: 20px !important;
  }
}

.x-brand img {
  @include breakpoint-between(md, lg) {
    width: 130px !important;
  }
}

// navigation items
.masthead .x-nav-wrap.desktop .menu-item a {
  @include breakpoint-between(md, lg) {
    font-size: 12px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  span {
    box-shadow: none !important;
    position: relative;
  }

  span::after {
    display: block !important;
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    right: 0;
    margin: auto !important;
    width: 0;
    color: transparent;
    background: black;
    height: 2px;
    transition: width 0.5s;
  }
}

.masthead .x-nav-wrap.desktop .menu-item a:hover span::after,
.masthead .x-nav-wrap.desktop .current_page_item span::after,
.masthead .x-nav-wrap.desktop .current_page_parent span::after {
  width: 100% !important;
}

// social icons
.masthead .x-social-global {
  margin: 25px 0;
  text-align: center;

  @include breakpoint-up(md) {
    float: right;
    border-left: 1px solid #cccccc;
    padding-left: 10x;
    margin: 28px 0 0 15px;
  }

  @include breakpoint-up(lg) {
    padding-left: 20px;
    margin: 28px 0 0 20px;
  }

  a {
    color: $color-primary;
    margin: 0 15px;
    font-size: 25px;
    border-radius: 0;

    &:hover {
      color: white;
    }

    @include breakpoint-up(md) {
      font-size: 16px;
      margin: 0 5px;
      padding: 5px;

      &:last-child {
        margin-right: 0;
      }
    }

    @include breakpoint-up(lg) {
      font-size: 20px;
    }
  }
}

/** extra styles for home navbar **/
.home .masthead {
  @include breakpoint-up(md) {
    position: fixed;
  }
}

.home .masthead .x-navbar {
  @include breakpoint-up(md) {
    background: rgba(
      255,
      255,
      255,
      0
    ) !important; // important needed to overwrite the theme settings
    transition: background-color $timing-top-navigation;
    opacity: 0.99;
  }
}

// desktop menu items
.home .masthead .x-nav-wrap.desktop .menu-item a {
  color: $color-top-menu-items !important;
}

.home .masthead .x-nav-wrap.desktop .menu-item a span::after,
.home .masthead .x-nav-wrap.desktop .current_page_item span::after {
  background: $color-top-menu-items;
}

// social icons
.home .masthead .x-social-global a {
  @include breakpoint-up(md) {
    background: none;
    color: white;
    transition: color $timing-top-navigation;
  }
}

/** end extra styles for home navbar **/

// brand logo
.nav-primary__logo-clean {
  display: none;
  position: absolute;
  top: 5px;
  left: 0;

  @include breakpoint-between(md, lg) {
    top: 20px;
  }
}

// special logo styles for the home page only (atm)
@include breakpoint-up(md) {
  .home {
    .nav-primary__logo-clean {
      display: block;
      opacity: 1;
    }

    .nav-primary__logo {
      opacity: 0;
    }

    .masthead.headroom--not-top .nav-primary__logo {
      opacity: 1;
    }

    .masthead.headroom--not-top .nav-primary__logo-clean {
      opacity: 0;
    }
  }
}

// special logo styles end

// scroll styling for top navigation
.masthead.headroom--not-top {
  @include breakpoint-up(md) {
    position: fixed;
    top: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  }

  // navigation background
  .x-navbar {
    background: rgba(255, 255, 255, 1) !important;
  }

  // menu items
  .x-nav-wrap.desktop .menu-item a {
    color: $color-top-menu-items--pinned !important;

    &:hover span:after {
      box-shadow: 0 2px 0 0 $color-top-menu-items--pinned;
    }
  }

  .x-social-global a {
    color: $color-primary;

    &:hover {
      color: white;
    }
  }
}

// mobile navigation toggle (important statement needed to override customizer styles)
.nav-primary__mobile-button {
  background-color: transparent !important;
  box-shadow: none !important;
  color: black !important;

  &:not(.collapsed) .x-icon-bars:before {
    content: "\f00d";
  }
}
