/*_variables.scss */

// colors

$color-primary: #007965;

$color-top-menu-items: white;
$color-top-menu-items--pinned: black;

$color_blue_highlight: #9e9f9e;
$color_blue_highlight_rgb: rgb(78,91,108);

$border_grey: #e5e5e5;
$nav_height: 75px;
$reduced_nav_height: 75px;


// timing
$timing-top-navigation: .75s;
//$nav_animation_duration: 1s;
