/*_variables.scss */

// colors

$color-primary: #119671;
$color-primary-rgb: rgb(0, 151, 112);

$color-highlight: rgb(255, 111, 89);

$color-light-background: rgb(212, 223, 229);

$color-top-menu-items: white;
$color-top-menu-items--pinned: black;

$color_blue_highlight: #9e9f9e;
$color_blue_highlight_rgb: rgb(78, 91, 108);

$border_grey: #e5e5e5;
$nav_height: 75px;
$reduced_nav_height: 75px;

// timing
$timing-top-navigation: 0.75s;
