/* custom form scss */

form{
  background: $border_grey;
  margin-bottom: 0;
  overflow: hidden;
  //display: none;
  //max-height: 0;

  &.show-form{
    //display: block;
    max-height: 1000px;
    @include transition(1.25s);
  }

  &.wpuf-form-add{

    ul.wpuf-form{
      list-style-type: none;
      margin: 0;

      li.wpuf-el{
        overflow: hidden;
        position: relative;
        z-index: 1;
        display: inline-block;
        margin-bottom: 1.6rem;
        width: 100%;
        vertical-align: top;
        padding: 10px;

        &:last-child{
          margin-bottom: 0;
        }

        &.post_title,
        &.name,
        &.seminar,
        &.ort{
          width: 50%;
          float: left;

          @include bp-small{
            width: 100%;
          }
        }

        &.featured_image{
          .wpuf-fields{
            background-color: transparent;
          }
        }

        .wpuf-label label{
          position: absolute;
          top: 27px;
          left: 30px;
          z-index: 1;
          display: block;
          color: black;
        }

        .wpuf-fields{
          background-color: white;
          @include opacity(0.8);

          &.focus{
            @include opacity(1);

          }

          input,
          textarea{
            width: 100%;
            //margin: 28px 25px 10px;
            display: block;
            padding: 25px 20px 20px;
            border: none;
            //border-bottom: solid 1px $color_blue_highlight;
            box-sizing: border-box;
          }

          input{
            font: inherit;
            font-size: 0.8em;
            transition: background 0.3s $cubic;
            overflow: hidden;
            height: 60px;
            position: relative;
            z-index: 2;
            background-color: transparent;

            @include placeholder {
              font: inherit;
              display: none;
              @include transition(transform 0.3s ease-in-out,font-size 0.3s ease-in-out,visibility 0.3s ease-in-out);
            }

            &:focus{
              @include placeholder{
                //color: $color_blue_highlight;

              }
            }

            &:focus,
            &:valid{
              @include placeholder{
                font-size: 0.8em;
                transform: translateY(-20px);
                visibility: visible !important;
                opacity: 1;
              }
            }
          }

          input[type=checkbox]{
            padding: 0;
            height: auto;
            width: auto;
            float: left;
            margin-right: 5px;
            font-size: 2rem;
          }

          textarea[name=toc]{
            height: 7em;
          }

          label{
            float: left;
            margin-top: 25px;
          }
        }
      }

      li.wpuf-submit{
        .wpuf-label{
          height: 0;
        }
        input[type=submit]{
          margin-bottom: 15px;
        }
      }

      .button.file-selector{
        background: $color_logo_dark;
        box-shadow: none;
        @include opacity(1);
        padding: 0.563em 1.125em 0.813em;
        font-size: 16px;
        border-radius: 0;
        border: none;
        margin-bottom: 0;
        margin-top: 5px;
      }

    }
  }
}

.wpuf-success{
  background: $color_logo_dark;
  color: white;
}